@import 'commons';

.feature-preview {
    position: relative;
    .half {
        width: 50%;
        float: left;
    }

    .block {
        padding-top: 20px;
        min-height: 50px;
        .subTitle {
            color: $NOIR017;
        }

        .tagTitle {
            margin-bottom: 20px;
        }

        .acc_item {
            width: 45%;
            margin-right: 10px;
            float: left;

            .content {
                margin-top: 0;
                margin-bottom: 10px;
                overflow-wrap: break-word;
                word-wrap: break-word;
            }

            .subTitle {
                padding-bottom: 0;
            }
        }

        .condition_item_wrapper {
            border: 1px solid $NOIR014;
            display: inline-block;
            width: 100%;

            .conditon_item {
                width: 20%;
                float: left;
                padding: 10px;
            }
        }

        button {
            margin-right: 10px;
            margin-top: 20px;
        }
    }

    .content {
        overflow-wrap: break-word;
        word-wrap: break-word;
        padding-right: 10px;
        .tag {
            background: $B014;
            padding: 5px 10px;
            margin-right: 10px;
            color: $GR009;
            margin-top: 20px;
            border-radius: 4px;
        }

        li {
            cursor: pointer;
            color: $B;
        }
    }

    .editorWrapper{
        margin-top: 20px;
        width: 100%;
        height: 200px;
    }

    .seperator {
        padding-bottom: 20px;
        border-bottom: solid 1px $NOIR014;
        clear: both;
    }

    .detail_title {
        color: $NOIR017;
        text-transform: uppercase;
        padding-top: 20px;
    }

    .cfx {
        clear: both;
    }
}
